body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
  	background-image: url('backgroundVA.avif');
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
}
.arcade-top {
        width: 1100px;
        height: 150px;
        background-color: #333;
        border: 10px solid #555;
        border-radius: 20px;
        text-align: center;
}
.arcade {
        width: 1050px;
        height: 700px;
        background-color: #333;
        border: 10px solid #555;
 }
 .arcade-bottom {
        width: 1100px;
        height: 300px;
        background-color: #333;
        border: 10px solid #555;
        border-radius: 20px;
}
  
.black-box {
        width: 800px;
        height: 600px;
        background-color: #000;
        position: relative;
	overflow: hidden;
        border-radius: 10px;
        margin: 0 auto;
        top: 40px;
}
.lens-flare {
        position: absolute;
        width: 1900px;
        height: 100px;
        border-radius: 50%;
        background: radial-gradient(white, transparent 30%);
        opacity: 0.5;
        animation: rotateLensFlare 5s linear infinite;
        left: -900px;
 }
@keyframes rotateLensFlare {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
}
.content {
	display: flex;
	flex-direction: row; /* Align joystick and buttons in a row */
    	justify-content: space-between; /* Distribute space between joystick and buttons */
 }
 .page-container{
 }
 .arcade-container{
	margin: 0 auto;
   	width:1110px;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	border: 10px solid #17202A;
    	background: #212F3C;
    	border-radius: 30px;
 }
 .joystick-container {
 }
 .button-container {
	display: grid;
      	grid-template-columns: auto 1fr auto;
      	grid-gap: 20px;
  	padding: 30px;
      	grid-row-gap: 0px;
      	justify-content: center;
      	align-items: center;
      	position: relative;
 }
 .button-arcade {
        width: 150px;
        height: 100px;
        background-color: #FF0000;
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        line-height: 50px;
        transition: .1s;
        font-weight: bold;
        border: 6px solid black;
        box-shadow: 0 8px 0 rgb(183,9,0),0 15px 20px rgba(0,0,0,.35);
 }
 
 .button-arcade:hover {
  background-color: #cc0000
 }
 .button-arcade:active {
      background-color: #800000;
      padding-top: 3px;
      transform: translateY(4px);
 }
 .joystick {
        width: 160px;
        height: 160px;
        background-color: #6C3483;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        right: -205px;
        top: -20px;
  	border: 6px solid black;
 }
 .stick {
        width: 30px;
        height: 130px;
        background-color: #ffc107;
        position: relative;
        border-radius: 30px;
  	border: 6px solid black;
        left: 240px;
        bottom: 40px;
  }
  .va {
        font-size: 3rem;
        font-weight: bold;
	text-align: top;
        position: absolute;
        height: 50px;
        width: 70px;
  }
.header-text {
        font-size: 5rem;
        font-weight: bold;
        color: #FF0000;
        text-transform: uppercase; 
        letter-spacing: 0.2em;
        text-shadow: 8px 5px 3px rgba(0, 0, 0, 0.7); 
        margin-top: 10px;
  }
.game-grid {
    	display: grid;
   	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    	grid-gap: 20px;
    	padding: 20px;
}
.game-entry {
    	background-color: #808080;
    	padding: 20px;
    	border-radius: 10px;
    	text-align: center;
	border: 6px solid black;
}
.game-entry img {
    	width: 100%;
    	max-width: 100px;
    	border-radius: 5px;
}
.game-entry name {
    	font-size: 40px;
  	text-align: left;
}
.game-entry desc {
  	text-align: left;
}

